
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, HarmonyOS_Regular, HarmonyOS_Medium, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(239, 241, 245);

}

.header {
    display: flex;
    background-color: rgb(252, 187, 123);
    height: 0;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #f2f2f2;
    justify-content: center; /* 居中显示 */
    overflow: hidden;
}



/* 导航链接样式 */
.navbar div {
    float: left;
    display: block;
    color: rgb(148, 127, 32);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    font-size: 30px;
}

/* 鼠标悬停效果 */
.navbar div:hover {
    background-color: rgb(214, 218, 224);
    color: black;
}

.lanmu {
    display: flex;
    height: 35px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 241, 245);
    border-radius: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 0;
    width: 0;
}

.jieshao {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: rgb(148, 127, 32);
    font-size: 18px;
}

.jieshao a {
    height: 40px;
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(214, 218, 224);
    padding-bottom: 15px;
}

.neirong {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-left: 21%;
    width: 60%;
}

.ruanjian {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.mulu {
    display: flex;
    height: 43px;
    margin: 2px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 241, 245);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

/* 鼠标悬停效果 */
.mulu:hover {
    background-color: rgb(214, 218, 224);
    color: black;
}

.xiazai {
    display: block;
    width: 85%;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    padding: 15px;
}

.shiping div{
    float: left;
    padding: 14px 16px;
}

.video-image-container{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.video-image-container a img{
    position: relative;
    width: 150px;
    height: 120px;
    margin: 0 auto;
}

/* 鼠标悬停效果 */
.video-image-container:hover {
    background-color: rgb(214, 218, 224);
    color: black;
}

.sw-title {
    cursor: pointer;
    display: flex;
    height: 55px;
    align-items: center;
    color: #ff5500;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(224, 228, 233);
}

.sw-item img {
    width: 800px;
}

.sw-title span {
    display: flex;
    align-items: center;
}

.down-arrow {
    align-self: center;
    color: #ff5d5d;
    cursor: pointer;
    display: inline-block;
    margin: 0 -8px 0 0;
    vertical-align: middle;
    transition: .1s linear;
}

.cursor {
    cursor: pointer;
}

i.iconfont {
    font-size: 18px;
    font-weight: bold;
}

.sw-item {
    display: flex;
    flex-wrap: wrap;
}

.dlink {
    display: flex;
    width: 50%;
}

.link {
    display: flex;
    margin: 10px;
    width: 300px;
    height: 50px;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.822);
    border-radius: 8px;
    transition: background-color 1s;
    cursor: pointer;

}

.link:hover {
    background-color: #ffe59d; /* 设置鼠标悬停时的背景颜色 */
}

.link a {
    width: 500px;
    font-size: 18px;
    margin: 5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.ad {
    position: absolute;
    top: 190px;
    margin-left: 10px;
    /*margin-left: 82%;*/
    display: none;
    width: 19%;
}

.ad img {
    position: relative;
    width: 100%;
    align-items: center;
}

.ad-text {
    display: block;
    font-size: 13px;
}



#xunlei{
    animation: blinker 1s linear infinite;
}

#kuake{
    animation: blinker 1s linear infinite;
}

.lad1 {
    position: absolute;
    top: 50px;
    margin-left: 10px;
    display: none;
    width: 19%;
}

.lad1 .dlink .link a{
    color: #ff5d5d;
    font-size: 22px;
}

.lad2 {
    position: absolute;
    top: 110px;
    margin-left: 10px;
    display: none;
    width: 19%;
}

.lad2 .dlink .link a{
    color: #ff5d5d;
    font-size: 22px;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lad {
    position: absolute;
    top: 400px;
    margin-left: 10px;
    display: none;
    width: 19%;
}

.lad img {
    position: relative;
    width: 100%;
    align-items: center;
}

.lad-text {
    display: block;
    font-size: 13px;
}

.bottom-right {
    display: block;
    width: 60px;
    position: fixed;
    right: 5px;
    bottom: 80px;
    right: 20px;
}

.tooltip {
    height: 65px;
}

.icon-wechat {
    border-bottom: 1px solid #cecece; /* 在.icon-wechat下方添加一条线 */
}

.bottom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 设置为relative以便内部的absolute元素可以相对于这个元素定位 */
}

.tooltip {
    cursor: pointer; /* 当鼠标悬停在图标上时，光标变为手掌形状 */
}

.icon-link .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 使用transform来确保元素完全居中 */
}

.tooltip {
    background-color: #fff;
}

.icon img {
    width: 40px; /* 设置图标的宽度 */
}

/* 默认情况下，隐藏二维码 */
.parent-element {
    position: relative; /* 设置为relative以便内部的absolute元素可以相对于这个元素定位 */
}

.parent-element:hover .qrcode {
    visibility: visible; /* 当鼠标悬停在父元素上时，二维码变为可见 */
    opacity: 1; /* 当鼠标悬停在父元素上时，二维码变为不透明 */
}

.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8b8b8;
    margin-right: 10px; /* 设置离右边图标的距离 */
    position: absolute;
    right: 100%; /* 这会将二维码图片放在元素的左边 */
    visibility: hidden; /* 默认情况下，二维码是隐藏的 */
    opacity: 0; /* 默认情况下，二维码是透明的 */
    transition: visibility 0.5s, opacity 0.5s linear; /* 这会在0.5秒内改变二维码的可见性和透明度 */
}

.qrcode img {
    width: 180px;
}

.icon-wechat:hover .qrcode,
.icon-appreciation:hover .qrcode {
    visibility: visible; /* 当鼠标悬停在图标上时，二维码变为可见 */
    opacity: 1; /* 当鼠标悬停在图标上时，二维码变为不透明 */
}

.qrcode img {
    margin: 10px;
}

/* 当鼠标悬停在图标上时，显示二维码 */
.icon-wechat:hover .qrcode,
.icon-appreciation:hover .qrcode {
    display: block;
}

/* 默认情况下，隐藏文字和二维码 */
.icon-link .text {
    display: none;
}

/* 默认情况下，显示图标 */
.icon-link .icon img {
    display: block;
}

/* 当鼠标悬停在图标上时，显示文字和二维码，隐藏图标 */
.icon-wechat:hover .text,
.icon-wechat:hover .qrcode,
.icon-appreciation:hover .text,
.icon-appreciation:hover .qrcode {
    display: block;
}

.icon-wechat:hover .icon img,
.icon-appreciation:hover .icon img {
    display: none;
}

/* 当鼠标悬停在图标上时，显示文字和二维码，隐藏图标 */
.icon-wechat:hover .text,
.icon-appreciation:hover .text {
    display: block;
    font-size: 14px; /* 设置文字大小 */
    color: rgb(42, 172, 177);
    font-weight: bold;
    text-align: center; /* 设置文字居中 */
}


footer {
    color: #969696;
    padding: 35px;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    /* 当屏幕宽度小于等于1280px时应用的样式 */
    .ad {
        width: 0;
    }
    .search-container {
        margin-left: 0;
        position: relative;
        display: inline-block;
        width: 250px; /* 可以根据需要调整宽度 */
    }

    .lad {
        width: 0;
    }

    .jieshao a {
        width: 100%;
    }

    .dlink {
        width: 100%;
    }

    .link {
        width: auto;
        margin: 5px;
    }

    .link a {
        width: auto;
        font-size: 10px;
    }

    .neirong {
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }

    .ruanjian {
        width: 100%;
        flex-direction: row;
    }

    .xiazai {
        width: 75%;
    }

    .sidebar {
        width: 25%;
    }

    .mulu {
        font-size: 12px;
    }

    .sw-title {
        font-size: 12px;
    }

    .bottom-right {
        width: 45px;
    }

    .icon img {
        width: 30px; /* 设置图标的宽度 */
    }

    .tooltip {
        height: 45px;
    }

    .navbar {
        height: 65px;
    }

    .lanmu {
        margin: 0;
    }
    .navbar div {
        font-size: 20px;
    }

    .lad1 {
        position: absolute;
        top: 0px;
        margin-left: -2px;
        display: none;
    }

    .lad1 .dlink .link a{
        font-size: 0;
    }

    .lad1 .dlink .link a img{
        width: 30px;
        height: 30px;
        margin: 2px;
    }

    .lad2 {
        position: absolute;
        top: 40px;
        margin-left: -2px;
        display: none;
    }

    .lad2 .dlink .link a{
        font-size: 0;
    }
    .lad2 .dlink .link a img{
        width: 30px;
        height: 30px;
        margin: 2px;
    }

}

@media screen and (max-width: 1080px) {
    .header {
        height: 240px;
    }

    .logo img {
        height: 242px;
        width: 400px;
    }
}
  
